@media (max-width: 820px) {

  [class*="__container"] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__container {
    padding-top: 85px;
  }


  .header__title {
    font-size: calc(20px + 28 * ((100vw - 320px) / (768 - 320)));
  }

  .header__description {
    padding-top: 10px;
    font-size: calc(16px + 8 * ((100vw - 320px) / (768 - 320)));
    padding-bottom: 29px;
  }

  .hero__tablet,
  .hero__mobil {
    left: 70px;
  }


  .hero__discount {
    font-size: calc(24px + 22 * ((100vw - 320px) / (768 - 320)));
    top: 64px;
    right: 76px;
    border-radius: 23px;
    padding: 10px 18px;
  }

  .description {
    padding-top: 30px;
  }

  .description__left {
    max-width: 100%;
  }

  .description__shell {
    padding-left: 64.5px;
    padding-right: 64.5px;
  }

  .description__time {
    margin-bottom: 33px;
  }

  .description__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / (768 - 320)));
  }

  .description__characteristic {
    margin-right: 100px;
    font-size: calc(16px + 4 * ((100vw - 320px) / (768 - 320)));
  }



  .description__title-card {
    font-size: calc(20px + 4 * ((100vw - 320px) / (768 - 320)));
  }

  .advantages__container {
    padding-top: 40px;
    margin-bottom: 65px;
  }

  .advantages__components {
    gap: 20px;
  }

  .advantages__card-title {
    font-size: calc(16px + 8 * ((100vw - 320px) / (768 - 320)));
  }

  .advantages__card {
    padding: 31px;
    padding-bottom: 450px;
  }

  .advantages__card-item {
    font-size: 16px;
    line-height: 120%;
  }

  .footer__block {
    max-width: 228px;
  }

  .footer__container {
    padding-bottom: 60px;
  }

}
